In [14]:
import pandas as pd
import scipy.stats as stats
from scipy.stats import chi2_contingency
pokemon = pd.read_csv('pokemon.csv')

In [3]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
pokemon['Legendary'].count()

800

In [5]:
legendary = pokemon.groupby('Legendary').count()['Name'].reset_index()
legendary

   Legendary  Name
0      False   735
1       True    65

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [12]:
total = pokemon[pokemon['Legendary'] == True]['Total']

print(total.mean())
print(total.std())

637.3846153846154
60.93738905315346

In [13]:
tp_non_leg = pokemon[pokemon['Legendary'] == False]['Total']

print(tp_non_leg.mean())
print(tp_non_leg.std())

417.21360544217686
106.76041745713022

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the ttest_ind function in scipy.stats to compare the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [16]:
stats.ttest_ind(a=total, b=tp_non_leg, equal_var=False)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column Type 1 and the count of each type.

In [17]:
pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [18]:
water_poke = pokemon[pokemon['Type 1'] == 'Water']['Total']
print(water_poke.mean())
print(water_poke.std())

430.45535714285717
113.18826606431458

In [19]:
non_water_poke = pokemon[pokemon['Type 1'] != 'Water']['Total']
print(non_water_poke.mean())
print(non_water_poke.std())

435.85901162790697
121.09168230208066

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [20]:
stats.ttest_ind(a=water_poke, b=non_water_poke, equal_var=True)

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

## Challenge 2 - Matched Pairs Test
In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the ttest_rel function from scipy.stats and compare the two columns to see if there is a statistically significant difference between them.

In [21]:
stats.ttest_rel(pokemon['Attack'], pokemon['Defense'])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

In [22]:
stats.ttest_rel(pokemon['Sp. Def'], pokemon['Sp. Atk'])

Ttest_relResult(statistic=-0.853986188453353, pvalue=0.3933685997548122)

In [23]:
stats.ttest_1samp(pokemon['Defense'] - pokemon['Attack'], popmean=0)

Ttest_1sampResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05)