Challenge 1: Tuples
Do you know you can create tuples with only one element?
In the cell below, define a variable tup with a single element "I".

Hint: you need to add a comma (,) after the single element.

In [3]:
tup=('i',)

In [4]:
type(tup)

tuple

Now try to append the following elements to tup.
Are you able to do it? Explain.

In [8]:
append.tup"r", "o", "n", "h", "a", "c", "k',)

SyntaxError: invalid syntax (464345826.py, line 1)

No se puede append a un tuple

In [9]:
tup=("I", "r", "o", "n", "h", "a", "c", "k")

In [10]:
print(tup)

('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')

In [27]:
tup1 = tup[0:4]

In [26]:
print(tup1)

('I', 'r', 'o', 'n')

In [28]:
tup2 = tup [-4:]
print(tup2)

('h', 'a', 'c', 'k')

In [29]:
tup3 = tup1 + tup2

In [30]:
print(tup == tup3)

True

In [31]:
lenoftwo = len(tup1) + len(tup2)

In [32]:
print(lenoftwo)

8

In [33]:
len(tup3)

8

In [34]:
lenoftwo == len(tup3)

True

In [36]:
tup3.index('h')

4

In [41]:
letters = ["a", "b", "c", "d", "e"]

for i in letters:
    if i in tup3:
        print(True)
    else:
        print(False)

True
False
True
False
False

In [65]:
def countX(tup3, x):
    count = 0
    for i in tup3:
        #print('esto no es el if',i,x)
        if (i == x):
            #print(i,x)
            count = count + 1
    return count
for i in letters:
    print('La letra',i,'se repite',countX(tup3,i),'veces')

La letra a se repite 1 veces
La letra b se repite 0 veces
La letra c se repite 1 veces
La letra d se repite 0 veces
La letra e se repite 0 veces

In [64]:
print({i:tup3.count(i) for i in letters})

{'a': 1, 'b': 0, 'c': 1, 'd': 0, 'e': 0}