### Challenge 1 - Passing a Lambda Expression to a Function
In the next excercise you will create a function that returns a lambda expression. Create a function called modify_list. The function takes two arguments, a list and a lambda expression. The function iterates through the list and applies the lambda expression to every element in the list.

In [121]:
l = [1,2,3,4,5]
f = lambda x: x+5
b = []

def modify_list(a, y):
    for x in a:
        b.append(y(x))
        
modify_list(l,f)        

#Call modify_list(##,##)
#print b

In [122]:
print(b)

[6, 7, 8, 9, 10]

Now we will define a lambda expression that will transform the elements of the list.
In the cell below, create a lambda expression that converts Celsius to Kelvin. Recall that 0°C + 273.15 = 273.15K

0°C + 273.15 = 273.15K

In [30]:
kelvin = lambda c: c+273.15

In [123]:
kelvin(10)

283.15

In [33]:
c=[]

for i in l:
    c.append(kelvin(i))

In [34]:
print(c)

[274.15, 275.15, 276.15, 277.15, 278.15]

In [36]:
temps = [12, 23, 38, -55, 24]

In [37]:
new_kelvin = []

for i in temps:
    new_kelvin.append(kelvin(i))

In [38]:
new_kelvin

[285.15, 296.15, 311.15, 218.14999999999998, 297.15]

In this part, we will define a function that returns a lambda expression
In the cell below, write a lambda expression that takes two numbers and returns 1 if one is divisible by the other and zero otherwise. Call the lambda expression mod.

In [259]:
mod = lambda a,b: 1 if (a%b == 0) or (b%a ==0) else 0

mod(47,47)

1

In [52]:
def my_function (a,b):

    return mod

Now create a function that returns mod. The function only takes one argument - the first number in the mod lambda function.
Note: the lambda function above took two arguments, the lambda function in the return statement only takes one argument but also uses the argument passed to the function.

In [111]:
def divisor(j): 
    
    y = float(input('insert a number: '))
    
    return mod(j,y)

In [112]:
divisor(5)

insert a number: 10

1

In [127]:
def divisible5(i): 
    
    return divisor(5)

In [128]:
divisible5(4)

insert a number: 45

1

In [129]:
divisible5(11)

insert a number: 6

0

## Challenge 2 - Using Lambda Expressions in List Comprehensions

In the following challenge, we will combine two lists using a lambda expression in a list comprehension.

To do this, we will need to introduce the zip function. The zip function returns an iterator of tuples.

The way zip function works with list has been shown below:

In [205]:
list1 = ['Green', 'cheese', 'English', 'tomato']
list2 = ['eggs', 'cheese', 'cucumber', 'tomato']
zipped = zip(list1,list2)
list(zipped)

[('Green', 'eggs'),
 ('cheese', 'cheese'),
 ('English', 'cucumber'),
 ('tomato', 'tomato')]

In this exercise we will try to compare the elements on the same index in the two lists. We want to zip the two lists and then use a lambda expression to compare if: list1 element > list2 element

In [139]:
list1 = [1,2,3,4]
list2 = [2,3,4,5]
## Zip the lists together 
## Print the zipped list

In [140]:
compare = lambda i,j: print("True") if i>j else print("False")
for i,j in zip(list1,list2):
    compare(i,j)

False
False
False
False

## Challenge 3 - Using Lambda Expressions as Arguments

In this challenge, we will zip together two lists and sort by the resulting tuple.
In the cell below, take the two lists provided, zip them together and sort by the first letter of the second element of each tuple. Do this using a lambda function.

In [277]:
list1 = ['Engineering', 'Computer Science', 'Political Science', 'Mathematics']
list2 = ['Lab', 'Homework', 'Essay', 'Module']

In [278]:
arranged(d)

zipped.sort(key=lambda x:x[1])
zipped

[('Homework', 'Computer Science'),
 ('Lab', 'Engineering'),
 ('Module', 'Mathematics'),
 ('Essay', 'Political Science')]

Bonus Challenge - Sort a Dictionary by Values
Given the dictionary below, sort it by values rather than by keys. Use a lambda function to specify the values as a sorting key.

In [280]:
f = {'Honda': 1997, 'Toyota': 1995, 'Audi': 2001, 'BMW': 2005}

In [281]:
sorted_d = dict(sorted(f.items(), key= lambda x: x[1])) 
print(sorted_d)

TypeError: 'NoneType' object is not callable